.navigation {
    list-style: none;
    margin: 0;
    background: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    }
    
    .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    }
    
    .navigation a:hover {
    background: darken(gray , 50%);
    }
    
@media all and (max-width: 2000px) {
    .navigation {
    justify-content: space-around;
    }
}

@media all and (max-width: 1000px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}

body {
    margin: 0;
    padding: 0;
    max-width: inherit;
    background: #fff;
    color: #4a4a4a;
}
    
info {
    background: #eee;
}
    
main {
    background: #f9f9f9;
}
    
body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content 1fr min-content;
}
    
.navigation {
    grid-row: 1;
    grid-column: 1 / 4;
}
    
info {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0 10px;
}
    
main {
    grid-row: 2;
    grid-column: 2 / 3;
    padding: 0 20px;
}

body {
    justify-content: center;
    height: 100vh;           
    margin: 0;               /* Remove default margin */
    background-color: #f0f0f0; /* Optional background color */

    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content 1fr min-content;
}

canvas {
    border: 1px solid black;  /* Border around the canvas */
    background-color: #2f354d;
}

h1 {
    left: 50%;
    transform: translateX(-50%);
    font-family: rodfat;
    justify-content: center;
}

@font-face {
    font-family: rodfat;
    src: url(Rodfat_2.ttf);
}

#scoretitle{
    justify-content: center;
    padding: 2%;
    margin-right: 100px;

}
