.nav-main {
    align-self: center;
    background-color: aquamarine;
    font-family: monospace;
    color:aliceblue;
    overflow: hidden;
    text-align: center;

    width:600px;
}

.nav-sub {
    background-color: red;
    font-family: rodfat;
    text-align: center;
    width: 100px;
    height: 30px;
    color: black;
    padding:10px;
    display: inline-block;
    margin: 10px;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

body {
    justify-content: center;
    height: 100vh;           
    margin: 0;               /* Remove default margin */
    background-color: #f0f0f0; /* Optional background color */

    display: flex;
    flex-direction: column;
}

canvas {
    border: 1px solid black;  /* Border around the canvas */
    background-color: #2f354d;
}

h1 {
    left: 50%;
    transform: translateX(-50%);
    font-family: rodfat;
    justify-content: center;
}

@font-face {
    font-family: rodfat;
    src: url(Rodfat_2.ttf);
}

#scoretitle{
    justify-content: center;
    padding: 2%;
    margin-right: 100px;

}